<footer class="footer">
    <div class="text-align">
        <span style="float:left">
            &ensp;
            <i class="fa fa-copyright" aria-hidden="true"></i> Tate Britain Online Shop &ensp;
            <i class="fa fa-building-o" aria-hidden="true"></i> Millbank, London SW1P 4RG
        </span>
        <span style="float:right">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:visiting.britain@tate.org.uk">visiting.britain@tate.org.uk</a> &ensp;
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="tel:+44 (0)20 7887 8888">+44 (0)20 7887 8888</a> &ensp;
        </span>
    </div>
</footer>