<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    TateShop
  </title>
  <%include scripts%>
</head>

<body>
  <%include header%>
    <div class="mainbox">
      <div class="m-3">
        <h1>Welcome to TateShop</h1>
      </div>
      <%
        include signin
      %>
    </div>
    <%include footer%>
</body>

</html>